parameters:
    level: 8
    excludePaths:
        - vendor/
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - identifier: missingType.iterableValue
        # - identifier: missingType.generics


# Local Variables:
# mode: yaml
# End:
